Flask

# Flask Extensions
Flask-Admin
Flask-Assets
Flask-Cache
Flask-DebugToolbar
Flask-Login<0.4
Flask-Mail
Flask-Migrate
Flask-Script
Flask-Security
Flask-SQLAlchemy
Flask-WTF

# Other
alembic
itsdangerous
cssmin
jsmin
keyring
matplotlib
# mechanize
premailer
python-dateutil
psycopg2
pytz
speaklater

# Testing
pytest
pytest-cov
mccabe
flake8
