Flask

# Flask Extensions
Flask-Assets
Flask-Cache
Flask-DebugToolbar
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-Script
Flask-WTF

# Other
alembic
itsdangerous
cssmin
jsmin
keyring
matplotlib
mechanize
premailer
python-dateutil
psycopg2
pytz

# Testing
pytest
pytest-cov
mccabe
flake8
