Flask

# Flask Extensions
Flask-Admin
Flask-Assets
Flask-Cache
Flask-DebugToolbar
Flask-Login
Flask-SQLAlchemy
Flask-Security
Flask-Script
Flask-WTF
Talisman

# Other
itsdangerous
cssmin
jsmin
python-dateutil

# Testing
pytest
pytest-cov
mccabe
flake8
