{% extends 'admin/model/list.html' %}

{% block body %}
    <h2>New Transactions</h2>
    {% if search %}
        <form  action="{{ url_for('ofx/new-transactions.index_view')}}" method="POST"  class="form-inline">
        <div class="form-group">
            <label>Account</label>
            {{ new_mapping_form.subaccount() }}
        </div>
            {{ new_mapping_form.keyword(value=search) }}
        <input class="btn btn-primary" type=submit value="Apply">
        </form>
    <br>
        <div class="btn-group" role="group">
        <a class="btn btn-default" type="button" href="{{ url_for('ofx/new-transactions.favorite', expense_account='Restaurants', keyword=search) }}">
        Restaurant
        </a>
        <a class="btn btn-default" type="button" href="{{ url_for('ofx/new-transactions.favorite', expense_account='Groceries', keyword=search) }}">
        Groceries
        </a>
        </div>
        <br>
        <br>
    {% endif %}
    {{ super() }}
{% endblock %}