{% extends 'admin/model/list.html' %}

{% block model_menu_bar_before_filters %}
    <li>
    <a href="{{ get_url('banking/transactions.apply_all_mappings_view') }}" title="Apply All Mappings">
        Apply All Mappings
    </a>
    </li>
    <li>
    <a href="{{ get_url('banking/transactions.index_view', flt3_58=1) }}" title="Apply All Mappings">
        Unbooked
    </a>
    </li>
{% endblock %}

{% block model_menu_bar_after_filters %}
    {% if search %}
        <li>
            <form  action="{{ url_for('banking/transactions.index_view')}}" method="POST"  class="form-inline">
                <div class="form-group">
                    {{ new_mapping_form.subaccount() }}
                </div>
                {{ new_mapping_form.keyword(value=search) }}
                <input class="btn btn-primary" type=submit value="Apply">
            </form>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                Favorites<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ url_for('banking/transactions.favorite', expense_account='Restaurants', keyword=search) }}">
                        Restaurant
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('banking/transactions.favorite', expense_account='Groceries', keyword=search) }}">
                        Groceries
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h2>Transactions</h2>
    {{ super() }}
{% endblock %}